/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-stl-renderer-stl-renderer {
  //border: 1px dotted #000000;
  color: black;
}

.wp-block-stl-renderer-select-button {
  background-color: aqua;
}

.wp-block-stl-renderer-stl-preview {
  //width: 500px;
  //height: 500px;
  border: 1px solid black;
}
